<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Lixter</title>
    <link rel="shortcut icon" href="https://imgur.com/3SnlVdY.png" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/animated.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  </head>
  
  <body>
    
    <div class="navcontainer">
      <nav>
        <label for="nav" class="nav-btn">
         <i></i>
         <i></i> 
         <i></i>
         <i></i>
        </label>
        <div class="animated fadeIn">
        <div class="logo">
            <a><img class="logoup" width="30" heigth="30" src="https://cdn.glitch.com/7d9712c4-25c3-406c-be27-24d6419152a6%2Ftransparent.png?1541873604451"></a>
          <a href="/">Lixter</a>
          </div>
        </div>
        <div class="nav-wrapper">
            <ul> 
                  <li><a href="/" class="buttons">Home</a></li>
                  <li><a href="https://discord.gg/wG7DpAS" class="buttons">Support</a></li>
            </ul>
        </div>
      </nav> 
    </div>
            <div class="animated fadeIn">
            <h1>Lixter</h1>
    </div>
  
    
  </body>

</html>
